@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h4>@ViewData["Title"]</h4>

<p>LinkedIn: https://www.linkedin.com/in/sheapa/ </p>
<p>Email: patshea26@gmail.com</p>
<p>Phone: 916.397.2925</p>

