@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="container">
    <div class="row align-items-start">
        <div class="col">
            
        </div>
        <div class="col">
            Welcome To My Website
        </div>
        <div class="col">
            
        </div>
    </div>
</div>
